# Configuration sensible Backend
application.properties

# Dossiers générés Backend
target/
uploads/

# Frontend
product-frontend/node_modules/
product-frontend/dist/
product-frontend/.angular/

# IDE
.idea/
.vscode/
*.iml

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db
